<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        <title>Admin | Diagem</title>

        <meta name="description" content="Diagem">
        <meta name="author" content="Diagem">
        <meta name="robots" content="noindex, nofollow">

        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem">
        <meta property="og:site_name" content="Diagem">
        <meta property="og:description" content="Diagem">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="/js/plugins/datatables/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">

        <!-- Fonts, Styles and Codebase framework -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
        <link rel="stylesheet" id="css-main" href="/css/app.css">
        <link rel="stylesheet" href="/js/plugins/select2/css/select2.min.css">
        <link rel="stylesheet" href="/js/plugins/select2/css/select2-bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css">
        <style>
            #list-rekening_filter {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header main-content-boxed">
            <!-- Sidebar -->
            {{template "partials/admin-sidebar" .}}
            <!-- END Sidebar -->

            <!-- Header -->
            {{template "partials/admin-header" .}}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">

                <!-- Page Content -->
                <div class="content">
                    <div class="content-heading pt-0 mb-3">
                        Virtual Account
                    </div>
                    <div class="block">
                        <div class="block-content pb-15">
                            <table class="table table-hover table-vcenter mb-0" >
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold">Bank</th>
                                        <th class="font-weight-bold">No Virtual Acount</th>
                                        <th class="font-weight-bold">Status</th>
                                        <th class="font-weight-bold">Aksi</th>
                                    </tr>
                                </thead>
                                <tbody id="list-va">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <div class="modal" id="foto-produk-modal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="block-header block-header-default">
                            <h3 class="block-title modal-title">Edit Virtual Account</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <form action="">
                            <input type="hidden" id="id-va">
                            <div class="block-content pb-15">
                                <div class="form-group">
                                    <label for="no-va">No Virtual Account</label>
                                    <input type="text" name="no-va" id="no-va" class="form-control">
                                </div>
                                
                                <div class="form-group">
                                    <label for="status">Status Account</label>
                                    <select name="status" id="status" class="form-control">
                                        <option value="true">Aktif</option>
                                        <option value="false">Tidak Aktif</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="no-va">Bank</label>
                                    <select name="bank" id="bank" class="form-control" disabled>
                                        <option value="bni_va">BNI</option>
                                        <option value="bca_va">BCA</option>
                                        <option value="bri_va">BRI</option>
                                    </select>
                                </div>
                            </div>

                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Batal</button>
                            <button type="submit" class="btn btn-primary" onclick="submitEdit(this)">
                                <i class="fa fa-check"></i> Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            {{template "partials/admin-footer" .}}
            <!-- END Footer -->
        </div>
        <script src="/js/laravel.app.js"></script>
        <script src="/js/laroute.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/functions.js"></script>
        <script src="/js/admin/general.js"></script>
        <script>
            $(document).ready(function(){
                loadVA()
            })

            function loadVA() {
                $.ajax({
                    url: "/admin/keuangan/get",
                    success: function(res) {
                        res.data.forEach(el => {
                            $("#list-va").append(createVAElement(el))
                        })
                    }
                })
            }

            function createVAElement(data) {
                const { id, no_va, status, vendor } = data
                var vendorText

                switch (vendor) {
                    case "bni_va":
                        vendorText = "BNI"
                        break
                    case "bca_va":
                        vendorText = "BCA"
                        break
                    default:
                        vendorText = "BRI"
                        break
                }

                return `
                    <tr>
                        <td>${vendorText}</td>
                        <td>${no_va}</td>
                        <td>
                            <button class="btn ${status ? "btn-success" : "btn-secondary"}"> ${status ? "Aktif" : "Tidak Aktif"} </button>
                        </td>
                        <td>
                            <button class="btn btn-primary" detail='${JSON.stringify(data)}' onclick="EditVA(this)">Edit</button>
                        </td>
                    </tr>
                `
            }

            function EditVA(e) {
                const data = JSON.parse($(e).attr("detail"))
                const { id, no_va, status, vendor } = data
                console.log(data)
                $("#foto-produk-modal").modal('show')
                $("#id-va").val(id)
                $("#no-va").val(no_va)
                $("#bank").val(vendor)
                $("#status").val(status)
                status ? $("#status").val("true") : $("#status").val("false")
            }

            function submitEdit(e) {
                var status = $("#status").val() == "true" ? true : false 
                const data = {
                    id : parseInt($("#id-va").val()),
                    no_va: $("#no-va").val(),
                    status,
                    bank :  $("#bank").val(),
                }
                $.ajax({
                    url:"/admin/keuangan/update",
                    type:"PUT",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    beforeSend: function(){
                        Swal.fire({
                            title: 'Tunggu Sebentar...',
                            text: '',
                            imageUrl: '/img/loading.gif',
                            showConfirmButton: false,
                            allowOutsideClick: false,
                        })
                    },
                    success: function(res) {
                        $("#foto-produk-modal").modal('hide')
                        Swal.fire({
                            title: 'Virtual Account Berhasil Diupdate!',
                            icon: 'success',
                            timer: 3000,
                            showConfirmButton: false,
                            allowOutsideClick: false,
                        })
                    }
                })
            }
        </script>
    </body>
</html>
