<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        <title>Admin | Diagem</title>

        <meta name="description" content="Diagem">
        <meta name="author" content="Diagem">
        <meta name="robots" content="noindex, nofollow">

        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem">
        <meta property="og:site_name" content="Diagem">
        <meta property="og:description" content="Diagem">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="/js/plugins/datatables/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">

        <!-- Fonts, Styles and Codebase framework -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
        <link rel="stylesheet" id="css-main" href="/css/app.css">

        <!-- Scripts -->
        <!-- END Scripts -->
    </head>
    <body>
        <div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header main-content-boxed">
            <!-- Sidebar -->
            {{template "partials/admin-sidebar" .}}
            <!-- END Sidebar -->

            <!-- Header -->
            {{template "partials/admin-header" .}}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            {{template "partials/admin-footer" .}}
            <!-- END Footer -->
        </div>
        <script src="/js/laravel.app.js"></script>
        <script src="/js/laroute.js"></script>
        <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/js/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/functions.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
        <script src="/js/admin/general.js"></script>
        <script>
            $(document).ready(function() {
                loadLatestBlog()
            })

            jQuery(function() {
                $('.slider').slick({
                    autoplay: false,
                    lazyLoad: 'progressive',
                    arrows: true,
                    dots: false,
                    prevArrow: '<div class="slick-nav prev-arrow"><i></i><svg><use xlink:href="#circle"></svg></div>',
                    nextArrow: '<div class="slick-nav next-arrow"><i></i><svg><use xlink:href="#circle"></svg></div>',
                }).slickAnimation()
                
                $('.slick-nav').on('click touch', function(e) {
                    e.preventDefault()
                
                    var arrow = $(this)
                
                    if(!arrow.hasClass('animate')) {
                        arrow.addClass('animate')
                        setTimeout(() => {
                            arrow.removeClass('animate')
                        }, 1600)
                    }
                })

                load_content("#prodBestSeller > .row", "best_seller", 8)

                $('ul#productTab > li > a[data-toggle="product-tab"]').on('click', function(e) {
                    var $this = $(this),
                        targ = $this.attr('href') + ' > .row',
                        order = $this.attr('data-order'),
                        limit = 8;
                        
                        load_content(targ, order)
                
                    $this.tab('show')
                    return false;
                })
            })

            jQuery('#popular-products').each((index, element) => {
                let el = jQuery(element);
                var slideopt = {
                    infinite: true,
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    prevArrow: '<span class="fa fa-angle-left prev slider-item-arrow"></span>',
                    nextArrow: '<span class="fa fa-angle-right next slider-item-arrow"></span>',
                }

                $.ajax({
                    url: "/produk/popular",
                    beforeSend: function(){
                        el.html('')
                        for(var count = 1; count <= 8; count++){
                            el.append(`
                                <div class="product px-3">
                                    <div class="product-content ssc">
                                        <div class="ssc-square" style="border-radius: 10px 10px 0 0;height:253px;"></div>
                                        <div class="product-info">
                                            <div class="ssc-line"></div>
                                            <div class="ssc-line w-50 "></div>
                                            <div class="ssc-line"></div>
                                        </div>
                                    </div>
                                </div>          
                            `)
                        }
                        el.slick(slideopt)
                    },
                    success: function (response) {
                        el.slick('destroy')
                        el.html('')
                        const { data } = response
                        data.forEach(element => {
                            el.append(`
                                <div class="d-flex align-items-stretch px-3">
                                    <div class="product">
                                        <div class="product-content">
                                            <div class="product-img">
                                                <img src="${ element.produk_single_foto.path }" class="img-fluid"/>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-title"><a href="${ laroute.route('product.detail', { produk : element.slug }) }">${ element.nama }</a></div>
                                                <div class="product-price">${ element.harga }</div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>            
                            `)
                        });
                        el.slick(slideopt)
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error adding / update data')
                    }
                })
            })
            
            function load_content(target, order, limit){
                $.ajax({
                    url: "/produk/popular",
                    beforeSend: function(){
                        $('#product-list').html('')
                        for(var count = 1; count <= 8; count++){
                            $('#product-list').append(`
                                <div class="col-6 col-lg-3 product">
                                    <div class="product-content ssc">
                                        <div class="ssc-square" style="border-radius: 10px 10px 0 0;height:253px;"></div>
                                        <div class="product-info">
                                            <div class="ssc-line"></div>
                                            <div class="ssc-line w-50 "></div>
                                            <div class="ssc-line"></div>
                                        </div>
                                    </div>
                                </div>          
                            `)
                        }
                    },
                    success: function (response) {
                        $('#product-list').html('')
                        const { data } = response
                        data.forEach(element => {
                            $('#product-list').append(`
                            <div class="col-6 col-lg-3 d-flex align-items-stretch">
                                <div class="product">
                                    <div class="product-content">
                                        <div class="product-img">
                                            <img src="${ element.produk_single_foto.path }" class="img-fluid"/>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-title"><a href="${ laroute.route('product.detail', { produk : element.slug }) }">${ element.nama }</a></div>
                                            <div class="product-price">${ element.harga }</div>
                                        </div>
                                    </div>
                                </div> 
                            </div>            
                            `)
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error adding / update data')
                    }
                })
            }

            function loadLatestBlog() {
                $.ajax({
                    url:"/blog/latest",
                    success: function (res) {
                        const data = res.data
                        $("#latest-post").html('')
                        data.forEach(el => {
                            $("#latest-post").append(createBlogElement(el))
                        })
                    }
                })
            }

            function createBlogElement(data) {
                var imageUrl = data.image
                var splitedImageUrl = imageUrl.split("public")
                return `
                    <div class="col-md-4">
                        <div class="px-2">
                            <a class="block block-link-pop d-flex flex-column" href="javascript:void(0)">
                                <img src="${splitedImageUrl[1]}" class="block-content block-content-full min-height-175 flex-grow-0">
                                <div class="block-content flex-grow-1">
                                    <h5 class="mb-5">
                                        ${data.judul}
                                    </h5>
                                    <p class="text-muted">
                                        ${data.tgl_publish}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                `
            }
        </script>
    </body>
</html>
