<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <title>Diagem Project</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Diagem Project">
        <meta name="author" content="Diagem Project">
        <meta name="robots" content="noindex, nofollow">
        
        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem Project">
        <meta property="og:site_name" content="Diagem Project">
        <meta property="og:description" content="Diagem Project">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        
        
        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/img/favicons/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        
        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" id="css-main" href="/css/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
    </head>
    <body class="bg-white">
        <div id="page-container" class="sidebar-inverse side-scroll page-header-fixed main-content-boxed">
            <!-- Header -->
            {{template "partials/user-header" .}}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <article class="card mb-8 border-0">
                                <img class="img-fluid" src="" alt="Image Description">
                                <div class="card-body pt-5 pb-0 px-0">
                                    <div class="d-block d-md-flex flex-center-between mb-4 border-bottom">
                                        <h4 class="mb-md-3 mb-1">Robot Wars – Now Closed</h4>
                                    </div>
                                    DESKRIPSI PROMO
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <aside class="mb-7">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Info Promo</h3>
                                    </div>
                                    <div class="card-body">
            
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            {{template "partials/footer" .}}
            <!-- END Footer -->
        </div>
        <script src="/js/laravel.app.js"></script>
        <script src="/js/laroute.js"></script>
        <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/js/umum/general.js"></script>
        <script src="/js/functions.js"></script>
    </body>
</html>
