<header id="page-header">
    <!-- Header Content -->
    <div class="content-header">
        <!-- Left Section -->
        <div class="content-header-section">
            <!-- Toggle Sidebar -->
            <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
            <button type="button" class="btn btn-circle btn-dual-secondary" data-toggle="layout"
                data-action="sidebar_toggle">
                <i class="fa fa-bars"></i>
            </button>
            <!-- END Toggle Sidebar -->
        </div>
        <!-- END Left Section -->

        <!-- Right Section -->
        <div class="content-header-section" id="app">
            <!-- Role Badge -->
            <div class="badge badge-secondary" id="role-badge"></div>
            <!-- END Role Badge -->

            <!-- User Dropdown -->
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-user-dropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user d-sm-none"></i>
                    <span class="d-none d-sm-inline-block" id="logged-admin-name">Name</span>
                    <i class="fa fa-angle-down ml-5"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-right min-width-200"
                    aria-labelledby="page-header-user-dropdown">
                    <a class="dropdown-item" href="#">
                        <i class="si si-wrench mr-5"></i> Pengaturan
                    </a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/logout">
                        <i class="si si-logout mr-5"></i> Keluar
                    </a>
                </div>
            </div>
            <!-- END User Dropdown -->
        </div>
        <!-- END Right Section -->
    </div>
    <!-- END Header Content -->
</header>