<footer id="page-footer" class="border-top border-3x border-primary">
    <div class="content content-full">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <img src="/img/logo/logo_foot.png" class="img-fluid height-150">
                <p class="my-3">We are a small family-owned business specializing in selling high-quality gemstone
                    jewelry. Our
                    mission is to provide our customers with beautiful and unique pieces that they will cherish for a
                    lifetime.</p>
                <!-- <a class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-circle btn-secondary"><i class="fab fa-facebook"></i></a>
                <a class="btn btn-circle btn-secondary"><i class="fab fa-instagram"></i></a> -->
            </div>
            <div class="col-lg-4">
                <h4>Contact Us</h4>
                <ul class="list-unstyled">
                    <li><a href="#" target="_blank">
                            <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
                            <span class="text-dark">&nbsp;&nbsp;555-555-1212</span>
                        </a>
                        <br>
                    </li>
                    <li><a href="#" target="_blank">
                            <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                            <span class="text-dark">&nbsp;&nbsp;info@diagem.id</span>
                        </a>
                        <br>
                    </li>
                    <li><a href="#" target="_blank">
                            <i class="fa fa-map-marker-alt fa-fw" aria-hidden="true"></i>
                            <span class="text-dark">&nbsp;</span>
                            <span id="alamat-origin" class="text-dark"></span>
                        </a>
                    </li>
                </ul>
                <p></p>
                <!-- <ul class="fa-ul font-w700">
                    <li class="py-10">
                        <a href="" class="text-black">
                            <i class="fa fa-chevron-right fa-li mb-3"></i>How To Order
                        </a>
                    </li>
                    <li class="py-10">
                        <a href="" class="text-black">
                            <i class="fa fa-chevron-right fa-li mb-3"></i>Terms & Condition
                        </a>
                    </li>
                    <li class="py-10">
                        <a href="" class="text-black">
                            <i class="fa fa-chevron-right fa-li mb-3"></i>FAQs
                        </a>
                    </li>
                    <li class="py-10">
                        <a href="" class="text-black">
                            <i class="fa fa-chevron-right fa-li mb-3"></i>Ring Size Guide
                        </a>
                    </li>
                </ul> -->
            </div>
            <div class="col-lg-4">
                <h4>Follow Us</h4>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="btn btn-circle btn-primary" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-circle btn-primary" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-circle btn-primary" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
                <!-- <ul class="fa-ul font-w700">
                    <li class="py-10">
                        <a href="" class="text-black">
                            <i class="fa fa-chevron-right fa-li mb-3"></i>Track Shipment
                        </a>
                    </li>
                    <li class="py-10">
                        <a href="" class="text-black">
                            <i class="fa fa-chevron-right fa-li mb-3"></i>Payment Confirmation
                        </a>
                    </li>
                    <li class="py-10">
                        <a href="" class="text-black">
                            <i class="fa fa-chevron-right fa-li mb-3"></i>Help
                        </a>
                    </li>
                    <li class="py-10">
                        <a href="" class="text-black">
                            <i class="fa fa-chevron-right fa-li mb-3"></i>Career
                        </a>
                    </li>
                </ul> -->
            </div>
        </div>
        <hr>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        Copyright &copy; 2023 Diagem Jewelry. All Rights Reserved.
                    </div>
                    <!-- <div class="col-md-6 text-center">
                        Web Development by <a href="https://www.instagram.com/asyncrode/" target="_blank">asyncrode.</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</footer>