<aside class="block block-shadow block-rounded block-bordered d-none d-lg-block">
    <div class="block-content p-1">
        <ul id="sidebarNav" class="user-menu">
            <li>
                <a href="#">
                    Profil
                </a>
            </li>
            <li>
                <a class="dropdown-toggle dropdown-toggle-collapse" href="javascript:;" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sidebarNav1Collapse" data-target="#sidebarNav1Collapse">
                    Pesanan
                </a>
                <div id="sidebarNav1Collapse" class="collapse" data-parent="#sidebarNav">
                    <ul id="sidebarNav1" class="user-menu dropdown-list">
                        <!-- Menu List -->
                        <li><a href="#">Menunggu Pembayaran</a></li>
                        <li><a href="#">Daftar Transaksi</a></li>
                        <!-- End Menu List -->
                    </ul>
                </div>
            </li>
            <li>
                <a href="/alamat">
                    Alamat
                </a>
            </li>
            <li>
                <a href="#">
                    Keluar
                </a>
            </li>
        </ul>
    </div>
</aside>