<aside class="block block-shadow block-rounded block-bordered d-none d-lg-block">
    <div class="block-content p-1">
        <ul id="sidebarNav" class="user-menu">
            <li>
                <a href="/profile">
                    Profil
                </a>
            </li>
            <li>
                <a href="/pesanan">
                    Pesanan
                </a>
            </li>
            <li>
                <a href="/alamat">
                    Alamat
                </a>
            </li>
            <li>
                <a href="#">
                    Keluar
                </a>
            </li>
        </ul>
    </div>
</aside>