<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        <title>Admin | Tokonya</title>

        <meta name="description" content="Tokonya">
        <meta name="author" content="Tokonya">
        <meta name="robots" content="noindex, nofollow">

        <!-- Open Graph Meta -->
        <meta property="og:title" content="Tokonya">
        <meta property="og:site_name" content="Tokonya">
        <meta property="og:description" content="Tokonya">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="/js/plugins/datatables-v2/datatables.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">

        <!-- Fonts, Styles and Codebase framework -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
        <link rel="stylesheet" id="css-main" href="/css/app.css">
        <style>
            #list-produk_filter {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header main-content-boxed">
            <!-- Sidebar -->
            {{template "partials/admin-sidebar" .}}
            <!-- END Sidebar -->

            <!-- Header -->
            {{template "partials/admin-header" .}}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">

                <!-- Page Content -->
                <div class="content">
                    <div class="content-heading pt-3 mb-3">
                        Profile Pelanggan
                    </div>

                    <!-- informasi -->
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <div class="block-title">
                                <strong>Informasi Pelanggan</strong>
                            </div>
                        </div>
                        
                        <div class="block-content pb-15">
                            
                        </div>
                    </div>
                    <!-- END informasi -->

                    <!-- alamat -->
                    <div class="block block-rounded">
                        <div class="block-header block-header-default">
                            <div class="block-title">
                                <strong>Alamat Pelanggan</strong>
                            </div>
                        </div>
                        
                        <div class="block-content pb-15">
                            
                        </div>
                    </div>
                    <!-- END alamat -->
                </div>
                <!-- END Page Content -->

            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            {{template "partials/admin-footer" .}}
            <!-- END Footer -->
        </div>
        <script src="/js/laravel.app.js"></script>
        <script src="/js/laroute.js"></script>
        <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/js/plugins/datatables-v2/datatables.min.js"></script>
        <script src="/js/plugins/datatables-v2/DataTables-1.11.3/js/dataTables.bootstrap4.min.js"></script>
        <script src="/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/functions.js"></script>
        <script src="/js/admin/produk/produk.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
    </body>
</html>
