<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <title>Reset Password</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Diagem Project">
        <meta name="author" content="Diagem Project">
        <meta name="robots" content="noindex, nofollow">

        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem Project">
        <meta property="og:site_name" content="Diagem Project">
        <meta property="og:description" content="Diagem Project">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">


        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/img/favicons/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" id="css-main" href="/css/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">

        <style>
        </style>
    </head>
    <body class="bg-white">
        <div id="page-container" class="sidebar-inverse side-scroll page-header-fixed main-content-boxed">
            <!-- Header -->
            {{template "partials/user-unlogged-header" .}}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="py-lg-6">
                    <div class="content content-full">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="block block-bordered block-rounded block-shadow">
                                    <div class="block-content block-content-full">
                                        <div class="text-center">
                                            <h2 class="font-weight-bold mb-0">Reset Password</h2>
                                            <p>Ingat password Anda? <a href="/login">login</a> di sini</p>
                                        </div>
                                        <form id="form-reset-password" onsubmit="return false;">
                                            <div class="form-group">
                                                <label class="form-label" for="field-code">Kode Reset
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input type="text" class="form-control" name="code" id="field-code" placeholder="Masukan kode reset" maxlength="6" required>
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label" for="field-password">Password Baru
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input type="password" class="form-control" name="password" id="field-password" placeholder="Masukan kode reset" minlength="6" required>
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label" for="field-confirm-password">Konfirmasi Password
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input type="password" class="form-control" name="confirm-password" id="field-confirm-password" placeholder="Masukan kode reset" minlength="6" required>
                                            </div>

                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">
                                                    Simpan Password Baru
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            {{template "partials/footer" .}}
            <!-- END Footer -->
        </div>
        <script src="/js/laravel.app.js"></script>
        <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/js/functions.js"></script>
        <script>
            $(document).ready(function() {
                $("#form-reset-password").submit(function(e) {
                    e.preventDefault()
                    const currentPath = location.pathname
                    const CPSplit = currentPath.split("/")  
                    const token = CPSplit[3]

                    const data = {
                        token,
                        kode : $("#field-code").val(),
                        new_password : $("#field-password").val(),
                        conf_password : $("#field-confirm-password").val()
                    }  
                    submit(data)
                })
            })

            function submit(data) {
                $.ajax({
                    url:"/forgot-password/reset",
                    type:"post",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    beforeSend: function(){
                        Swal.fire({
                            title: 'Tunggu Sebentar...',
                            text: '',
                            imageUrl: '/img/loading.gif',
                            showConfirmButton: false,
                            allowOutsideClick: false,
                        })
                    },
                    success: function (response) {
                        if (!response.success) {
                            Swal.fire({
                                icon: 'error',
                                title: response.message,
                                text: 'Silahkan Coba Lagi',
                                showConfirmButton: false,
                                timer : 3000,
                            })
                        }else {
                            Swal.fire({
                                icon: 'success',
                                title: response.message,
                                text: 'Password Anda Telah Berubah',
                                showConfirmButton: false,
                                timer : 3000,
                            })
                            setTimeout(() => {
                                location.replace("/login")
                            }, 3000);
                        }                        
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        Swal.close()
                        alert('Error adding / update data')
                    }
                })
            }
        </script>
    </body>
</html>
