<!doctype html>
<html lang="en" class="no-focus">

<head>
    <title>Diagem</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Diagem">
    <meta name="author" content="Diagem">
    <meta name="robots" content="noindex, nofollow">

    <!-- Open Graph Meta -->
    <meta property="og:title" content="Diagem">
    <meta property="og:site_name" content="Diagem">
    <meta property="og:description" content="Diagem">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">


    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/img/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">

    <!-- Styling -->
    <!-- Fonts and Codebase framework -->
    <link rel="stylesheet" id="css-main" href="/css/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
    <link rel="stylesheet" href="/js/plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="/js/plugins/slick/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/placeholder-loading/dist/css/placeholder-loading.min.css">
    <link rel="stylesheet" href="/css/slider.css">
</head>

<body class="bg-white">
    <div id="page-container" class="sidebar-inverse side-scroll page-header-fixed main-content-boxed mb-10">
        <!-- Header -->
        <div class="sidebar-inverse side-scroll page-header-fixed main-content-boxed">
            {{template "partials/user-unlogged-header" .}}
        </div>

        <!-- Main Container -->
        <main id="main-container">
            <!-- Title -->
            <div class="bg-image" style="background-image: url('/img/banner/banner-for-all.jpg');">
                <div class="content content-full d-flex min-height-200 text-center">
                    <div class="m-auto">
                        <h1 class="font-w700 mb-10">Who We Are</h1>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="content mb-10" id="seller-content">
                <div class="justify-content-between px-4">
                    <h2>DIAGEM JEWELRY</h2>
                    <p>Diagem merupakan singkatan dari DIAmond. GEmstone. Mutiara.</p>
                    <p>Secara filosofi, DIAGEM dalam bahasa jawa artinya dipakai, dipercaya, dihargai. Harapannya setiap
                        wanita yang mengenakan perhiasan dari Diagem bisa semakin percaya diri dan semakin menghargai
                        diri sendiri.</p>
                    <p>Dari desain logo, ada bentuk astakona (segi delapan) dan lingkaran sebagai pusat. Lingkaran
                        melambangkan mutiara, dan garis penyusun segi delapan melambangkan diamond dan gemstone (jika
                        kita perhatikan, serat di dalam diamond dan gemstone pasti membentuk garis-garis beraturan
                        seperti tarikan garis segi delapan tersebut).</p>
                    <p>Kenapa logo dibuat seperti itu?<br>Karena pada awalnya produk Diagem hanya perhiasan mutiara.
                        Seiring berjalannya waktu, bisa bertambah diamond dan gemstone.
                    </p>
                    <p><b>4 hal yang menjadi kelebihan Diagem Jewelry adalah:</b></p>
                    <p><b><i>1. Fashionable</i></b><br>
                        Perhiasan dari Diagem didesain khusus untuk melengkapi apapun fashion stylemu dan dibuat oleh
                        tangan ahli pengrajin Diagem.
                    </p>
                    <p><b><i>2. Lovely</i></b><br>
                        Jewelry is magic. Ketika menatap sosok di cermin dengan mengenakan jewelry dari Diagem,
                        penampilanmu akan terlihat more lovely. Menyenangkan dilihat, bahagia dirasa.
                    </p>
                    <p><b><i>3. Long Lasting</i></b><br>
                        Produk utama dari Diagem adalah perhiasan emas dengan Diamond, Gemstone, dan Mutiara semuanya
                        asli dengan kualitas terbaik di kelasnya, sehingga kilaunya long lasting.
                    </p>
                    <p><b><i>4. Valuable</i></b><br>
                        Semua perhiasan emas maupun perak dari Diagem bisa dilebur dan remodel kapanpun kamu mau. Tanpa
                        menghilangkan story perhiasan.
                    </p>
                </div>
            </div>
        </main>
    </div>

    {{template "partials/footer" .}}
    <script src="/js/laravel.app.js"></script>
    <script src="/js/laroute.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/plugins/slick/slick.js"></script>
    <script src="https://alexandrebuffet.fr/codepen/slider/slick-animation.min.js"></script>
    <script src="/js/umum/footer.js"></script>
</body>

</html>