<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <title>Diagem</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Diagem">
        <meta name="author" content="Diagem">
        <meta name="robots" content="noindex, nofollow">
        
        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem">
        <meta property="og:site_name" content="Diagem">
        <meta property="og:description" content="Diagem">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
       
        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/img/favicons/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        
        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" id="css-main" href="/css/app.css">
        <link rel="stylesheet" href="/js/plugins/select2/css/select2.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
        <script id="midtrans-client" type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-ewW6RazKMGNAf6FY"></script>
        <style>
            #wizard > .steps{
                display: none;
            }
        
            .aiz-megabox {
                position: relative;
                cursor: pointer;
            }
            .aiz-megabox input {
                position: absolute;
                /* opacity: 0; */
            }
            
            .aiz-megabox .aiz-megabox-elem {
                border: 1px solid #e2e5ec;
                border-radius: 0.25rem;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
                border-radius: 0.25rem;
            }
            /* .aiz-rounded-check {
                border-radius: 50%;
                background: 0 0;
                position: relative;
                height: 16px;
                width: 16px;
                border: 1px solid #d1d7e2;
            } */
        </style>
    </head>

    <body class="bg-white">
        <div id="page-container" class="sidebar-inverse side-scroll page-header-fixed main-content-boxed">
            <!-- Header -->
            {{template "partials/user-header" .}}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <div class="content">
                    <input type="hidden" id="sub_total">
                    <input type="hidden" id="final_total">
                    <input type="hidden" id="selected_alamat">
                    <input type="hidden" id="ongkir">
                    <input type="hidden" id="origin">
                    <input type="hidden" id="destination">
                    <input type="hidden" id="weight">
                    <input type="hidden" id="courier">
                    <input type="hidden" id="courier-paket">
                    
                    <div class="row">
                        <div class="col-md-8 col-sm-12">                                
                            <div class="block block-bordered block-shadow block-rounded">
                                <div class="block-header border-3x border-bottom">
                                    <h3 class="block-title font-weight-bold">
                                        Detail Belanja
                                    </h3>
                                </div>
                                <div class="block-content block-content-full pt-0" id="detail-belanja">
                                    
                                </div>
                            </div>

                            <div class="block block-bordered block-shadow block-rounded mb-3">
                                <div class="block-header border-3x border-bottom">
                                    <h3 class="block-title font-weight-bold">
                                        <i class="fa fa-truck mr-1"></i>Kirim ke mana?
                                    </h3>
                                    <button type="button" class="btn btn-outline-primary float-right btn-sm btn-pilih_alamat">Pilih Alamat</button>
                                </div>

                                <div class="block-content block-content-full" id="alamatData">
                                </div>
                            </div>

                            <div class="block block-bordered block-shadow block-rounded mb-3">
                                <div class="block-header border-3x border-bottom">
                                    <h3 class="block-title font-weight-bold">
                                        <i class="fa fa-truck mr-1"></i>Pilih Jasa Pengiriman
                                    </h3>
                                </div>

                                <div class="block-content block-content-full">
                                    <div class="row">
                                        <div class="form-group mr-4">
                                            <input type="radio" id="jne" name="courier" value="jne">
                                            <img src="/img/courier/jne.png" alt="jne" height="45" width="80">
                                        </div>

                                        <div class="form-group mr-4">
                                            <input type="radio" id="pos" name="courier" value="pos">
                                            <img src="/img/courier/Pos-Indonesia.svg.png" alt="pos" height="45" width="80">
                                        </div>

                                        <div class="form-group mr-4">
                                            <input type="radio" id="tiki" name="courier" value="tiki">
                                            <img src="/img/courier/Cek-Resi-TIKI.png" alt="tiki" height="45" width="80">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="block block-bordered block-shadow block-rounded mb-3" id="paket-pengiriman">
                                <div class="block-header border-3x border-bottom">
                                    <h3 class="block-title font-weight-bold">
                                        <i class="fa fa-truck mr-1"></i><div id="penyedia-paket"></div>
                                    </h3>
                                </div>

                                <div class="block-content block-content-full" id="data-paket">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 d-none d-md-block">
                            <div class="block block-shadow block-bordered block-rounded">
                                <div class="block-header">
                                    <div class="font-size-20 font-weight-bold">Ringkasan Belanja</div>
                                </div>

                                <div class="block-content pt-0 cart-summary">
                                    <div class="d-flex justify-content-between">
                                        <div class="">Subtotal</div>
                                        <div class="" id="total-belanja"></div>
                                    </div>

                                    <div class="d-flex justify-content-between">
                                        <div class="">Ongkir</div>
                                        <div class="" id="ongkir_show"></div>
                                    </div>

                                    <hr class="border-2x">
                                    <div class="d-flex font-size-20 font-weight-bold justify-content-between mb-2">
                                        <div class="">Total</div>
                                        <div id="total_belanja"></div>
                                    </div>
                                </div>

                                <div class="mt-4">
                                    <div class="block-content block-content-full pt-0">
                                        <button class="btn btn-primary btn-block btn-lg" id="btn-finish-checkout" disabled>
                                            Selesai Checkout
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            {{template "partials/footer" .}}
            <!-- END Footer -->

            <!-- alamat pengiriman form -->
            <div class="modal fade" id="alamatPilih" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <h5 class="modal-title">Pilih Alamat Pengiriman</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <i class="fa fa-times-circle"></i>
                                </span>
                            </button>
                        </div>
                        <div class="modal-body pt-0">
                            <div class="row gutters-5" id="pilihAlamat">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <!-- end alamat pengiriman form -->
        </div>
        <script src="/js/laravel.app.js"></script>
        <script src="/js/laroute.js"></script>
        <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/js/umum/general.js"></script>
        <script src="/js/functions.js"></script>
        <script src="/js/plugins/select2/js/select2.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js" integrity="sha512-bE0ncA3DKWmKaF3w5hQjCq7ErHFiPdH2IGjXRyXXZSOokbimtUuufhgeDPeQPs51AI4XsqDZUK7qvrPZ5xboZg==" crossorigin="anonymous"></script>
        <script src="/js/umum/checkout.js"></script>
    </body>
</html>

