<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <title>Diagem</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Diagem">
        <meta name="author" content="Diagem">
        <meta name="robots" content="noindex, nofollow">
        
        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem">
        <meta property="og:site_name" content="Diagem">
        <meta property="og:description" content="Diagem">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        
        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/img/favicons/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        
        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" id="css-main" href="/css/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
        <style>
            .bottomcart{
                position: fixed;
                width: 100%;
                z-index: 10;
                box-shadow: none;
                max-width: 500px;
                left: initial;
                bottom: 50px;
                background: rgb(255, 255, 255);
                padding: 16px;
            }
        </style>
    </head>
    <body class="bg-white">
        <div id="page-container" class="sidebar-inverse side-scroll page-header-fixed main-content-boxed">
            <!-- Header -->
            {{template "partials/user-header" .}}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="content">
                    <div class="row">
                        <div class="col-lg-8 col-sm-12 px-1 px-sm-3" id="cart-content">
                            <div class="block block-shadow block-bordered block-rounded">
                                <div class="block-content block-content-full">
                                    <div id="data-list">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="block block-shadow block-bordered block-rounded">
                                <div class="block-header">
                                    <div class="font-size-20 font-weight-bold">Total Belanja</div>
                                </div>
                                <div class="block-content pt-0 cart-summary">
                                    <div class="d-flex font-size-20 font-weight-bold justify-content-between mb-2">
                                        <input type="hidden" name="total" id="total">
                                        <div class="total_belanja" id="total-belanja">Rp0</div>
                                    </div>
                                </div>
                                <div class="block-content block-content-full pt-0">
                                    <a href="/cart/checkout" class="btn btn-primary btn-block btn-lg btn-checkout">
                                        Checkout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            {{template "partials/footer" .}}
            <!-- END Footer -->
        </div>
        <script src="/js/laravel.app.js"></script>
        <script src="/js/laroute.js"></script>
        <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/js/umum/general.js"></script>
        <script src="/js/umum/cart.js"></script>
        <script src="/js/functions.js"></script>
    </body>
</html>
