<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <title>Diagem Project</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Diagem Project">
        <meta name="author" content="Diagem Project">
        <meta name="robots" content="noindex, nofollow">
        
        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem Project">
        <meta property="og:site_name" content="Diagem Project">
        <meta property="og:description" content="Diagem Project">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        
        
        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="../public/img/favicons/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="../public/img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../public/img/favicons/apple-touch-icon-180x180.png">
        
        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" id="css-main" href="../../public/css/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
        <style>
            .usermenu__item{
                display: flex;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 10px;
                color:black;
            }
        </style>
    </head>
    <body class="bg-white">

        <div id="page-container" class="sidebar-inverse side-scroll page-header-fixed main-content-boxed">
            <!-- Header -->
            <header id="page-header">
                <!-- Header Content -->
                <div class="content-header height-75 py-0">
                    <!-- Left Section -->
                    <div class="content-header-section">
                        <!-- Logo -->
                        <div class="content-header-item height-50">
                            <a href="/">
                                <img src="../../public/img/logo/logo.png" class="img-fluid h-100" />
                            </a>
                        </div>
                        <!-- END Logo -->
                    </div>
                    <!-- END Left Section -->
            
                    <!-- Middle Section -->
                    
                    <!-- END Middle Section -->
            
                    <!-- Right Section -->
                    <div class="content-header-section d-flex">
                        <ul class="nav-main-header">
                            <li class="">
                                <a class="nav-submenu" data-toggle="nav-submenu" href="#">Who We Are</a>
                                <ul>
                                    <li>
                                        <a href="#">The Brand</a>
                                    </li>
                                    <li>
                                        <a href="#">Magazine</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                </ul>
                            </li>
        
                            <li>
                                <a href="#">Products</a>
                            </li>
        
                            <li>
                                <a href="#">Blog</a>
                            </li>
                        </ul>
                        
                        <!-- Cart Header Section -->
                        <div class="btn-cart d-none d-lg-block" role="group">
                            <button type="button" class="btn btn-sm cart" id="header-cart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="si si-bag cart-icon"></i>
                                <span class="cart-notification">
                                    0
                                </span>
                            </button>
                            <div class="dropdown-menu cart-overlay dropdown-menu-right" aria-labelledby="header-cart">
                                <div class="cart-header">
                                    <div class="font-weight-bold">Keranjang
                                        (<span class="cart-count">0</span>)
                                    </div>
                                    <div class="text-right">
                                        <a href="" class="text-decoration-none">Lihat Semua</a>
                                    </div>
                                </div>
                                <div class="cart-content"></div>
                            </div>
                        </div>
                        <!-- END Cart Header Section -->
                        
                        <!-- Auth Section -->
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-primary mx-1 btn-sm btn-login">Login</button>
                            <a href="/" class="btn btn-primary mx-1 btn-sm">Daftar</a>
                        </div>
                        <!-- END Auth Section -->
            
                        <!-- Toggle Sidebar -->
                        <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                        <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none" data-toggle="layout" data-action="sidebar_toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- END Toggle Sidebar -->
                    </div>
                    <!-- END Right Section -->
                </div>
                <!-- END Header Content -->
            
                <!-- Header Search -->
                <div id="page-header-search" class="overlay-header">
                    <div class="content-header content-header-fullrow">
                        <form action="bd_search.html" method="post">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <!-- Close Search Section -->
                                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                                    <button type="button" class="btn btn-secondary px-15" data-toggle="layout" data-action="header_search_off">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <!-- END Close Search Section -->
                                </div>
                                <input type="text" class="form-control" placeholder="Search or hit ESC.." id="page-header-search-input" name="page-header-search-input">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary px-15">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END Header Search -->
            
                <!-- Header Loader -->
                <!-- Please check out the Activity page under Elements category to see examples of showing/hiding it -->
                <div id="page-header-loader" class="overlay-header bg-primary">
                    <div class="content-header content-header-fullrow text-center">
                        <div class="content-header-item">
                            <i class="fa fa-sun-o fa-spin text-white"></i>
                        </div>
                    </div>
                </div>
                <!-- END Header Loader -->
            </header>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <main id="content" role="main">
                    <div class="css-1uryjdo" data-testid="indexNotifTransaction">
                        <div class="css-pwmmlk">
                            <div class="border-bottom usermenu__item">
                                <div class="font-size-18 font-weight-bold">Pesanan Saya</div>
                                <a class="nHSeeAll" href="{{ route('user.pesanan') }}">Lihat Semua</a>
                            </div>
                            <div class="usermenu__item">
                                <a class="text-center w-20" href="#">
                                    <div class="m-auto position-relative width-50">
                                        <i class="fa fa-wallet font-size-36"></i>
                                    </div>
                                    <p class="font-size-13 font-weight-bold mb-0">Belum Bayar</p>
                                </a>
                                <a class="text-center w-20" href="#">
                                    <div class="m-auto position-relative width-50">
                                        <i class="fa fa-wallet font-size-36"></i>
                                    </div>
                                    <p class="font-size-13 font-weight-bold mb-0">Diproses</p>
                                </a>
                                <a class="text-center w-20" href="#">
                                    <div class="m-auto position-relative width-50">
                                        <i class="fa fa-truck font-size-36"></i>
                                    </div>
                                    <p class="font-size-13 font-weight-bold mb-0">Dikirim</p>
                                </a>
                                <a class="text-center w-20" href="#">
                                    <div class="m-auto position-relative width-50">
                                        <i class="fa fa-wallet font-size-36"></i>
                                    </div>
                                    <p class="font-size-13 font-weight-bold mb-0">Selesai</p>
                                </a>
                            </div>
                            <div class="border-bottom usermenu__item border-top">
                                <a href="">
                                    <div class="font-size-18 font-weight-bold text-gray-100">
                                        <i class="fa fa-heart mr-1 text-pink"></i>
                                        Favorit Saya
                                    </div>
                                </a>
                                <i class="fa fa-chevron-right"></i>
                            </div>
                            <div class="border-bottom usermenu__item border-top">
                                <a href="">
                                    <div class="font-size-18 font-weight-bold text-gray-100">
                                        <i class="fa fa-history mr-1"></i>
                                        Terakhir Dilihat
                                    </div>
                                </a>
                                <i class="fa fa-chevron-right"></i>
                            </div>
                            <div class="border-bottom usermenu__item border-top">
                                <a href="">
                                    <div class="font-size-18 font-weight-bold text-gray-100">
                                        <i class="fa fa-history mr-1"></i>
                                        Voucher Saya
                                    </div>
                                </a>
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                </main>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <footer id="page-footer" class="border-top border-3x border-primary">
                <div class="content content-full">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <img src="../../public/img/logo/logo.png" class="img-fluid">
                            <p>
                               Diagem Jewerly is
                            </p>
                            <a class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-circle btn-secondary"><i class="fab fa-facebook"></i></a>
                            <a class="btn btn-circle btn-secondary"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="col-lg-4">
                            <ul class="fa-ul font-w700">
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>How To Order
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Terms & Condition
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>FAQs
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Ring Size Guide
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="fa-ul font-w700">
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Track Shipment
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Payment Confirmation
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Help
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Career
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            
            <div class="modal fade" id="loginModal" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content rounded">
                            <div class="modal-header border-bottom-0 pb-0">
                                <div class="div">
                                    <h5 class="modal-title">Selamat datang kembali! Silahkan login.</h5>
                                    <p>Belum punya akun? <a href="/">Daftar</a> disini!</p>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body pt-0">
                            <form id="loginModalFrm" onsubmit="return false">
                                <div class="form-group">
                                    <label class="form-label" for="field-email">Alamat Email
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="email" id="field-email"
                                        placeholder="Masukan Alamat Email">
                                    <div class="invalid-feedback" id="error-email"></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="field-password"> Password</label>
                                    
                                    <div class="input-group" id="show_hide_password">
                                        <input type="password" class="form-control" name="password" id="field-password" placeholder="Masukan Password" autocomplete="on">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <a href="javaScript:void(0);">
                                                    <i class="fa fa-eye-slash"></i>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback font-size-sm" id="error-password"></div>
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <div class="col-sm-6 d-sm-flex align-items-center">
                                        <div class="custom-control custom-checkbox mr-auto ml-0 mb-0">
                                            <input type="checkbox" class="custom-control-input" id="login-remember-me" name="remember">
                                            <label class="custom-control-label" for="login-remember-me">Ingat Saya</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-sm-right">
                                        <a class="font-weight-bold" href="#">
                                            Lupa Password?
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block font-weight-bold" disabled>
                                        <i class="fa fa-signin"></i>
                                        Masuk
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../public/js/laravel.app.js"></script>
        <script src="../../public/js/laroute.js"></script>
        <script src="../../public/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="../../public/js/umum/general.js"></script>
        <script src="../../public/js/functions.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
        <script src="../../assets/modules/user/login.js"></script>
        <!-- <script>
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
        </script> -->
    </body>
</html>
