<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <title>Diagem Registrasi</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Diagem Project">
        <meta name="author" content="Diagem Project">
        <meta name="robots" content="noindex, nofollow">

        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem Project">
        <meta property="og:site_name" content="Diagem Project">
        <meta property="og:description" content="Diagem Project">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">


        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/img/favicons/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" id="css-main" href="/css/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
    </head>
    <body class="bg-white">
        <div id="page-container" class="sidebar-inverse side-scroll page-header-fixed main-content-boxed">
            <!-- Header -->
            {{template "partials/user-unlogged-header" .}}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="py-lg-6">
                    <div class="content">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="block block-bordered block-rounded block-shadow">
                                    <div class="block-content block-content-full">
                                        <div class="text-center">
                                            <h2 class="font-weight-bold mb-0">Daftar Sekarang</h2>
                                            <p>Sudah punya akun? <a href="/login">Login</a> di sini</p>
                                        </div>
                                        <form id="form-register" onsubmit="return false;">
                                            <div class="form-group">
                                                <label class="form-label" for="reg-nama">Nama Lengkap
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input type="text" class="form-control" name="nama" id="reg-nama" placeholder="Masukan Nama Lengkap" required>
                                                <div class="invalid-feedback" id="reg_error-nama"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="reg-nama">Nomor HP
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input type="text" class="form-control" name="hp" id="reg-hp" placeholder="Masukan Kontak Aktif Anda" required>
                                                <div class="invalid-feedback" id="reg_error-nama"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="tgl-lahir">Tanggal Lahir
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input type="date" class="form-control" name="tgl_lahir" id="tgl-lahir" placeholder="Tanggal Lahir Anda" required>
                                                <div class="invalid-feedback" id="reg_error-tgl-lahir"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="reg-email">Alamat Email
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input type="text" class="form-control" name="email" id="reg-email" placeholder="Masukan Alamat Email" required>
                                                <div class="invalid-feedback" id="reg_error-email"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="reg-password">Password
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input type="password" class="form-control" name="password" id="reg-password" placeholder="Masukan Password" required minlength="8">
                                                <div class="invalid-feedback" id="reg_error-password"></div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="reg-password_confirmation">Konfirmasi Password
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <input type="password" class="form-control" name="password_confirmation" id="reg-password_confirmation" placeholder="Masukan Konfirmasi Password" required minlength="8">
                                                <div class="invalid-feedback" id="reg_error-password_confirmation">hehe</div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">
                                                    Daftar Sekarang
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            {{template "partials/footer" .}}
            <!-- END Footer -->
        </div>
        <script src="/js/laravel.app.js"></script>
        <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/js/umum/auth/register.js"></script>
        <script src="/js/functions.js"></script>
    </body>
</html>
