<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verifikasi Email</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Diagem Project">
    <meta name="author" content="Diagem Project">
    <meta name="robots" content="noindex, nofollow">

    <!-- Open Graph Meta -->
    <meta property="og:title" content="Diagem Project">
    <meta property="og:site_name" content="Diagem Project">
    <meta property="og:description" content="Diagem Project">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/img/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
    <!-- END Icons -->

    <!-- Fonts and Codebase framework -->
    <link rel="stylesheet" id="css-main" href="/css/app.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
</head>
<body>
    <div id="page-container" class="sidebar-inverse side-scroll page-header-fixed main-content-boxed">
        <!-- Header -->
        <header id="page-header">
            <!-- Header Content -->
            <div class="content-header height-75 py-0">
                <!-- Left Section -->
                <div class="content-header-section">
                    <!-- Logo -->
                    <div class="content-header-item height-50">
                        <a href="/">
                            <img src="/img/logo/logo.png" class="img-fluid h-100" />
                        </a>
                    </div>
                    <!-- END Logo -->
                </div>
                <!-- END Left Section -->

                <!-- Middle Section -->
                
                <!-- END Middle Section -->

                <!-- Right Section -->
                <div class="content-header-section d-flex">
                    <!-- Auth Section -->
                    <div class="float-right">
                        <ul class="nav-main-header">
                            <li class="">
                                <a class="nav-submenu" data-toggle="nav-submenu" id="logged-user-name" href="#">username</a>
                                <ul>
                                    <li>
                                        <a href="/logout">Keluar</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- END Auth Section -->

                    <!-- Toggle Sidebar -->
                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                    <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none" data-toggle="layout" data-action="sidebar_toggle">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- END Toggle Sidebar -->
                </div>
                <!-- END Right Section -->
            </div>
            <!-- END Header Content -->

            <!-- Header Search -->
            <div id="page-header-search" class="overlay-header">
                <div class="content-header content-header-fullrow">
                    <form action="bd_search.html" method="post">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <!-- Close Search Section -->
                                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                                <button type="button" class="btn btn-secondary px-15" data-toggle="layout" data-action="header_search_off">
                                    <i class="fa fa-times"></i>
                                </button>
                                <!-- END Close Search Section -->
                            </div>
                            <input type="text" class="form-control" placeholder="Search or hit ESC.." id="page-header-search-input" name="page-header-search-input">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary px-15">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Header Search -->

            <!-- Header Loader -->
            <!-- Please check out the Activity page under Elements category to see examples of showing/hiding it -->
            <div id="page-header-loader" class="overlay-header bg-primary">
                <div class="content-header content-header-fullrow text-center">
                    <div class="content-header-item">
                        <i class="fa fa-sun-o fa-spin text-white"></i>
                    </div>
                </div>
            </div>
            <!-- END Header Loader -->
        </header>
        <!-- END Header -->

        <!-- Main Container -->
        <main id="main-container">
            <!-- Page Content -->
            <div class="py-lg-6">
                <div class="content content-full">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="block block-bordered block-rounded block-shadow">
                                <div class="block-content block-content-full">
                                    <div class="text-center">
                                        <h2 class="font-weight-bold mb-0">Verifikasi Akun</h2>
                                        <p>Verifikasi email Anda, silahkan masukan kode OTP yang kami kirim ke email Anda</p>
                                    </div>
                                    
                                    <form id="form-verifikasi" onsubmit="return false;">
                                        <div class="form-group">
                                            <label class="form-label" for="kode">Kode Verifikasi
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="kode" id="kode" placeholder="Masukan Kode OTP">
                                            <div class="invalid-feedback" id="kode"></div>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" id="verificate-button" class="btn btn-primary btn-block">
                                                Verifikasi
                                            </button>
                                            <button type="button" id="resend-button" class="btn btn-primary btn-block">
                                                Kirim Ulang OTP
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Page Content -->
        </main>
        <!-- END Main Container -->

        <!-- Footer -->
        {{template "partials/footer" .}}
        <!-- END Footer -->
    </div>

    <script src="/js/laravel.app.js"></script>
    <script src="/js/laroute.js"></script>
    <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/js/umum/general.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/umum/verifikasi.js"></script>
</body>
</html>