<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <title>Diagem Project</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Diagem Project">
        <meta name="author" content="Diagem Project">
        <meta name="robots" content="noindex, nofollow">

        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem Project">
        <meta property="og:site_name" content="Diagem Project">
        <meta property="og:description" content="Diagem Project">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">


        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/img/favicons/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" id="css-main" href="/css/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
        <link rel="stylesheet" id="css-main" href="/js/plugins/slick/slick-theme.css">
        <link rel="stylesheet" id="css-main" href="/js/plugins/slick/slick.css">
        <style>
            .prodPrice {
                font-size: 2rem;
                font-weight: 700;
                color: orange;
                text-decoration: none;
            }
            .sticky {
                position: fixed;
                top: 0;
                z-index: 1030;
                margin-top: 70px;
            }
        
            /* .sticky + .content {
                padding-top: 60px;
            } */
        
            .sticky-navigation{
                background: #fff;
                border-bottom: 1px solid #e0e0e0;
                display: -webkit-box;
                display: -ms-flexbox;
                overflow: hidden;
            }
        </style>
    </head>
    <body class="bg-white">
        <div id="page-container" class="sidebar-inverse side-scroll page-header-fixed main-content-boxed">
            <!-- Header -->
            {{template "partials/user-header" .}}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="bg-white">
                    <div class="content content-full">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="product-slides mb-0">
                                    <div class="item-detail">
                                        <img class="img-fluid" src="" alt="Image Description">
                                    </div>
                                </div>
                                <div class="product-slides-nav">
                                        <div class="slider-nav__item">
                                            <img src="" class="h-100" alt="" />
                                        </div>
                                  </div>
                            </div>
                            <div class="col-md-7">
                                <div class="product-title">nama produk</div>
                                <div class="product-rating" data-score="3" data-star-on="fa fa-fw fa-star text-warning" data-star-off="fa fa-fw fa-star text-muted"></div>
                                <div class="product-price mb-3">
                                    <div class="product-price_final">
                                        <span class="product-price__after">harga</span>
                                    </div>
                                    <div class="product-strikethrough_price">
                                        <span class="product-price__before">harga</span>
                                        <span class="product-price__discount">30%</span>
                                    </div>
                                </div>
                                <form id="option-choice-form" method="POST" onsubmit="return false;">
                                    <input type="hidden" name="id-produk">
                                    <input type="hidden" name="has_variasi" value="" data-var2="">
                    
                    
                                    <div class="product-variant">
                                        <label class="product-label">nama virant</label>
                                        <div class="product-variant-item">
                                            <label for="var1-" class="radio-chip b-outline b-secondary">
                                                <input type="radio" id="var1-" name="var1" value="">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                
                                    <div class="border-top no-gutters pt-3 row">
                                        <div class="col-2">
                                            <div class="product-description-label mt-2 ">nama variant 2</div>
                                        </div>
                                        <div class="col-10">
                                            <ul class="list-inline checkbox-alphanumeric checkbox-alphanumeric--style-1 mb-2">
                                                <li>
                                                    <input type="radio" id="var2-" name="var2" value="">
                                                    <label for="var2-"></label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Quantity + Add to cart -->
                    
                                    <div class="product-quantity d-flex">
                                        <label class="product-label">Kuantitas</label>
                                        <div class="cart-quantity">
                                            <button class="btn-decrement" type="button" data-type="minus">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <input type="text" name="quantity" class="input-number" value="1" data-min="1" data-max="10">
                                            <button class="btn-increment" type="button" data-type="plus">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="product-available">
                                            <span class="label">Stok :&nbsp; <b>30</b></span>
                                        </div>
                                    </div>
                    
                                    <div class="product-subtotal">
                                        <label class="product-label">Subtotal</label>
                                        <div class="product-price">harga</div>
                                    </div>
                    
                                </form>
                                <div class="product-action">
                                    <button href="#" class="btn btn-outline-primary font-weight-bold mr-1" id="btn-add-cart">
                                        <i class="si si-plus mr-1"></i>
                                        Masukan Keranjang
                                    </button>
                                    <button href="#" class="btn btn btn-primary font-weight-bold" id="btn-buy-now">
                                        Beli Sekarang
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="bg-body">
                    <div class="content">
                        <div class="block">
                            <div class="block-header p-0 sticky-navigation">
                                <ul class="nav nav-tabs nav-tabs-alt" id="product-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#product-detail">Spesifikasi</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#product-description">Deskripsi</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#product-reviews">Ulasan</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-content">
                                <div id="product-detail">
                                    <h4 class="font-w400">Spesifikasi</h4>
                                    <table class="table table-sm table-bordered w-50">
                                            <tr>
                                                <td width="40%">nama spek</td>
                                                <td>nilai spek</td>
                                            </tr>
                                    </table>
                                </div>
                                <div id="product-description">
                                    <h4 class="font-w400">Deskripsi</h4>
                                    deskripsi prouk
                                </div>
                                <div id="product-reviews">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum. Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla. Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. Integer aliquet quam ut elit suscipit, id interdum neque porttitor. Integer faucibus ligula.</p>
                                    <p>Quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Ut tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio. Phasellus auctor velit at lacus blandit, commodo iaculis justo viverra. Etiam vitae est arcu. Mauris vel congue dolor. Aliquam eget mi mi. Fusce quam tortor, commodo ac dui quis, bibendum viverra erat. Maecenas mattis lectus enim, quis tincidunt dui molestie euismod. Curabitur et diam tristique, accumsan nunc eu, hendrerit tellus.</p>
                                        <p>Orci facilisis, dignissim tortor vitae, ultrices mi. Vestibulum a iaculis lacus. Phasellus vitae convallis ligula, nec volutpat tellus. Vivamus scelerisque mollis nisl, nec vehicula elit egestas a. Sed luctus metus id mi gravida, faucibus convallis neque pretium. Maecenas quis sapien ut leo fringilla tempor vitae sit amet leo. Donec imperdiet tempus placerat. Pellentesque pulvinar ultrices nunc sed ultrices. Morbi vel mi pretium, fermentum lacus et, viverra tellus. Phasellus sodales libero nec dui convallis, sit amet fermentum sapien auctor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed eu elementum nibh, quis varius libero.</p>
                                    <p>Nam eget purus nec est consectetur vehicula. Nullam ultrices nisl risus, in viverra libero egestas sit amet. Etiam porttitor dolor non eros pulvinar malesuada. Vestibulum sit amet est mollis nulla tempus aliquet. Praesent luctus hendrerit arcu non laoreet. Morbi consequat placerat magna, ac ornare odio sagittis sed. Donec vitae ullamcorper purus. Vivamus non metus ac justo porta volutpat.</p>
                                    <p>Pulvinar leo id risus pellentesque vestibulum. Sed diam libero, sodales eget sapien vel, porttitor bibendum enim. Donec sed nibh vitae lorem porttitor blandit in nec ante. Pellentesque vitae metus ipsum. Phasellus sed nunc ac sem malesuada condimentum. Etiam in aliquam lectus. Nam vel sapien diam. Donec pharetra id arcu eget blandit. Proin imperdiet mattis augue in porttitor. Quisque tempus enim id lobortis feugiat. Suspendisse tincidunt risus quis dolor fringilla blandit. Ut sed sapien at purus lacinia porttitor. Nullam iaculis, felis a pretium ornare, dolor nisl semper tortor, vel sagittis lacus est consequat eros. Sed id pretium nisl. Curabitur dolor nisl, laoreet vitae aliquam id.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            {{template "partials/footer" .}}
            <!-- END Footer -->
        </div>
        <script src="/js/laravel.app.js"></script>
        <script src="/js/laroute.js"></script>
        <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/js/umum/general.js"></script>
        <script src="/js/functions.js"></script>
        <script src="/js/plugins/slick/slick.js"></script>
        <script src="/js/umum/product.js"></script>
        <script src="/js/plugins/jquery-raty/jquery.raty.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-zoom@1.7.21/jquery.zoom.min.js"></script>
        <script src="/js/umum/product.js"></script>
        <script>
            $(document).ready(function(){
                $("body").scrollspy({
                    target: "#product-nav",
                    offset: 583
                });
            })
        </script>
    </body>
</html>
