<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        <title>Admin | Diagem</title>

        <meta name="description" content="Diagem">
        <meta name="author" content="Diagem">
        <meta name="robots" content="noindex, nofollow">

        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem">
        <meta property="og:site_name" content="Diagem">
        <meta property="og:description" content="Diagem">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="/js/plugins/datatables/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">

        <!-- Fonts, Styles and Codebase framework -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
        <link rel="stylesheet" id="css-main" href="/css/app.css">
        <link rel="stylesheet" type="text/css" href="/js/plugins/bootstrap-daterangepicker/daterangepicker.css" />
        <style>
            #list-order_filter {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header main-content-boxed">
            <!-- Sidebar -->
            {{template "partials/admin-sidebar" .}}
            <!-- END Sidebar -->

            <!-- Header -->
            {{template "partials/admin-header" .}}
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="content">
                    <div class="block block-bordered block-rounded block-shadow">
                        <div class="block-content block-content-full">
                            <table class="table" style="width:100%" id="table-invoice">
                                <thead>
                                    <tr>
                                        <th scope="col">No Invoice</th>
                                        <th scope="col">Kurir</th>
                                        <th scope="col">Tanggal Dipesan</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Pembayaran</th>
                                        <th scope="col">Pelanggan</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            {{template "partials/admin-footer" .}}
            <!-- END Footer -->
        </div>
        <script src="/js/laravel.app.js"></script>
        <script src="/js/laroute.js"></script>
        <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/js/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/functions.js"></script>
        <script src="/js/plugins/moment/moment.min.js"></script>
        <script src="/js/plugins/bootstrap-daterangepicker/daterangepicker.min.js"></script>
        <script src="/js/admin/general.js"></script>
        <script>
            $(document).ready(function(){
                $('#table-invoice').DataTable({
                    "ajax":"/admin/order/get",
                    "columns":[
                        {
                            "data": null,
                            "render": function(data, type, row) {
                                return data.invoice_no
                            },
                        },

                        {
                            "data": null,
                            "render": function(data, type, row) {
                                return data.kurir
                            },
                        },

                        {
                            "data": null,
                            "render": function(data, type, row) {
                                return moment(`${data.tgl_order}`).format('ll')
                            }
                        },

                        {
                            "data": null,
                            "render": function(data, type, row) {
                                return data.status
                            }
                        },

                        {
                            "data": null,
                            "render": function(data, type, row) {
                                var statusPembayaran = ""

                                switch (data.order_bayar.status) {
                                    case "pending":
                                        statusPembayaran = "Pending" 
                                        break;

                                    case "capture":
                                        statusPembayaran = `Telah Dibayar`
                                        break;

                                    case "settlement":
                                        statusPembayaran = `Lunas`
                                        break;

                                    case "deny":
                                        statusPembayaran = `Ditolak`
                                    break;
                                
                                    case "cancel":
                                        statusPembayaran = `Dibatalkan`
                                    break;

                                    case "expire":
                                        statusPembayaran = `Kadaluarsa`
                                    break;

                                    case "failure":
                                        statusPembayaran = `Gagal`
                                    break;

                                    case "chargeback":
                                        statusPembayaran = `Sengketa`
                                    break;

                                    case "refund":
                                        statusPembayaran = `Refund`
                                    break;

                                    case "partial_refund":
                                        statusPembayaran = `Refund Sebagian`
                                    break;

                                    case "partial_chargeback":
                                        statusPembayaran = `Sengketa Sebagian`
                                    break;

                                    default:
                                        statusPembayaran = `authorize`
                                        break;
                                }


                                return statusPembayaran
                            }
                        },

                        {
                            "data": null,
                            "render": function(data, type, row) {
                                return data.user.nama
                            }
                        },

                        {
                            "data":null,
                            "orderable":false,
                            "render":function(data, type, row){
                                return `<a href="/pesanan/invoice/${data.id}" class="btn btn-primary"> <b>Invoice</b>  </a>`
                            }
                        }
                    ],
                })

                $("#table-invoice_filter").addClass("d-flex justify-content-end")
            })
        </script>
    </body>
</html>

