<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <title>Diagem Project</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Diagem Project">
        <meta name="author" content="Diagem Project">
        <meta name="robots" content="noindex, nofollow">
        
        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem Project">
        <meta property="og:site_name" content="Diagem Project">
        <meta property="og:description" content="Diagem Project">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        
        
        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="../public/img/favicons/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="../public/img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../public/img/favicons/apple-touch-icon-180x180.png">
        
        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" id="css-main" href="../../public/css/app.css">
        <link rel="stylesheet" href="../../public/js/plugins/select2/css/select2.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
        <style>
            #wizard > .steps{
                display: none;
            }
        
            .aiz-megabox {
                position: relative;
                cursor: pointer;
            }
            .aiz-megabox input {
                position: absolute;
                /* opacity: 0; */
            }
            
            .aiz-megabox .aiz-megabox-elem {
                border: 1px solid #e2e5ec;
                border-radius: 0.25rem;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
                border-radius: 0.25rem;
            }
            /* .aiz-rounded-check {
                border-radius: 50%;
                background: 0 0;
                position: relative;
                height: 16px;
                width: 16px;
                border: 1px solid #d1d7e2;
            } */
        </style>
    </head>

    <body class="bg-white">
        <div id="page-container" class="sidebar-inverse side-scroll page-header-fixed main-content-boxed">
            <!-- Header -->
            <header id="page-header">
                <!-- Header Content -->
                <div class="content-header height-75 py-0">
                    <!-- Left Section -->
                    <div class="content-header-section">
                        <!-- Logo -->
                        <div class="content-header-item height-50">
                            <a href="/">
                                <img src="../../public/img/logo/logo.png" class="img-fluid h-100" />
                            </a>
                        </div>
                        <!-- END Logo -->
                    </div>
                    <!-- END Left Section -->
            
                    <!-- Middle Section -->
                    
                    <!-- END Middle Section -->
            
                    <!-- Right Section -->
                    <div class="content-header-section d-flex">
                        <ul class="nav-main-header">
                            <li class="">
                                <a class="nav-submenu" data-toggle="nav-submenu" href="#">Who We Are</a>
                                <ul>
                                    <li>
                                        <a href="#">The Brand</a>
                                    </li>
                                    <li>
                                        <a href="#">Magazine</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                </ul>
                            </li>
        
                            <li>
                                <a href="#">Products</a>
                            </li>
        
                            <li>
                                <a href="#">Blog</a>
                            </li>
                        </ul>
                        
                        <!-- Cart Header Section -->
                        <div class="btn-cart d-none d-lg-block" role="group">
                            <button type="button" class="btn btn-sm cart" id="header-cart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="si si-bag cart-icon"></i>
                                <span class="cart-notification">
                                    0
                                </span>
                            </button>
                            <div class="dropdown-menu cart-overlay dropdown-menu-right" aria-labelledby="header-cart">
                                <div class="cart-header">
                                    <div class="font-weight-bold">Keranjang
                                        (<span class="cart-count">0</span>)
                                    </div>
                                    <div class="text-right">
                                        <a href="" class="text-decoration-none">Lihat Semua</a>
                                    </div>
                                </div>
                                <div class="cart-content"></div>
                            </div>
                        </div>
                        <!-- END Cart Header Section -->
                        
                        <!-- Auth Section -->
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-primary mx-1 btn-sm btn-login">Login</button>
                            <a href="/" class="btn btn-primary mx-1 btn-sm">Daftar</a>
                        </div>
                        <!-- END Auth Section -->
            
                        <!-- Toggle Sidebar -->
                        <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                        <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none" data-toggle="layout" data-action="sidebar_toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- END Toggle Sidebar -->
                    </div>
                    <!-- END Right Section -->
                </div>
                <!-- END Header Content -->
            
                <!-- Header Search -->
                <div id="page-header-search" class="overlay-header">
                    <div class="content-header content-header-fullrow">
                        <form action="bd_search.html" method="post">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <!-- Close Search Section -->
                                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                                    <button type="button" class="btn btn-secondary px-15" data-toggle="layout" data-action="header_search_off">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <!-- END Close Search Section -->
                                </div>
                                <input type="text" class="form-control" placeholder="Search or hit ESC.." id="page-header-search-input" name="page-header-search-input">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary px-15">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END Header Search -->
            
                <!-- Header Loader -->
                <!-- Please check out the Activity page under Elements category to see examples of showing/hiding it -->
                <div id="page-header-loader" class="overlay-header bg-primary">
                    <div class="content-header content-header-fullrow text-center">
                        <div class="content-header-item">
                            <i class="fa fa-sun-o fa-spin text-white"></i>
                        </div>
                    </div>
                </div>
                <!-- END Header Loader -->
            </header>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <div class="content">
                    <form method="POST" action="{{ route('checkout.bayar') }}">
                        @csrf
                        <!-- {{-- <input type="hidden" name="ongkir" value="{{ $total_belanja }}"> --}} -->
                        <input type="hidden" name="ongkir" value="{{ $ongkir }}">
                        <input type="hidden" name="sub_total" value="{{ $total_belanja }}">
                        <input type="hidden" name="final_total" value="{{ $total_belanja+$ongkir }}">
                
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="block block-bordered block-shadow block-rounded mb-3">
                                    <div class="block-header border-3x border-bottom">
                                        <h3 class="block-title font-weight-bold">
                                            <i class="fa fa-truck mr-1"></i>Kirim ke mana?
                                        </h3>
                                        <button type="button" class="btn btn-outline-primary float-right btn-sm btn-pilih_alamat">Pilih Alamat Lain</button>
                                    </div>
                                    <div class="block-content block-content-full" id="alamatData">
                                        @if($alamat)
                                        <input type="hidden" name="alamat['id']" value="{{ $alamat->id }}">
                                        <input type="hidden" name="alamat['penerima']" value="{{ $alamat->penerima }}">
                                        <input type="hidden" name="alamat['phone']" value="{{ $alamat->phone }}">
                                        <input type="hidden" name="alamat['alamat']" value="{{ $alamat->alamat }}">
                                        <input type="hidden" name="alamat['kelurahan_id']" value="{{ $alamat->kelurahan_id }}">
                                        <input type="hidden" name="alamat['kd_pos']" value="{{ $alamat->kd_pos }}">
                                        <div>
                                            <p class="mb-0">
                                                <b class="nama-penerima">{{ $alamat->penerima }}</b>
                                                <span class="nama-alamat">{{ $alamat->nama }}</span>
                                                <span class="badge badge-success">Utama</span>
                                            </p>
                                            <div class="phone">
                                                {{ $alamat->phone }}
                                            </div>
                                            <div class="alamat-lengkap">
                                                {{ $alamat->alamat }}<br>
                                                {{ $alamat->kd_pos }}
                                            </div>
                                        </div>
                                        @else
                                        <div class="text-center">
                                            <img class="empty-img" src="{{ asset('public/img/placeholder/alamat.png') }}">
                                            <div>
                                                <h3 class="font-size-24 font-weight-bold mt-1">Alamat Pengiriman Belum Ditambahkan</h3>
                                                <button type="button" class="btn btn-primary btn-lg btn-add_alamat">
                                                    <i class="fa fa-plus mr-1"></i>Tambah Alamat</button>
                                            </div>
                                        </div>
                                        @endif
                                    </div>
                                </div>
                                
                                <div class="block block-bordered block-shadow block-rounded">
                                    <div class="block-header border-3x border-bottom">
                                        <h3 class="block-title font-weight-bold">
                                            Detail Belanja
                                        </h3>
                                    </div>
                                    <div class="block-content block-content-full pt-0">
                                        @foreach($cart as $p)
                                        <div class="cart-item">
                                            <div class="cart-item-product">
                                                <div class="cart-item-product_img">
                                                    <img src="{{ $p->produk->fotoUtama }}" data-src="" alt="" class="img-fluid lazyImage" data-loaded="true">
                                                </div>
                                                <div class="cart-item-product_info">
                                                    <div class="cart-item-product_title">
                                                        <a href="">
                                                            {{ $p->produk->nama }}
                                                        </a>
                                                    </div>
                                                    <div class="cart-item-product_variant">
                                                        Ukuran 30
                                                    </div>
                                                    <input type="hidden" class="cart_id" value="32">
                                                    <input type="hidden" class="harga" value="17900.00">
                                                    <div class="cart-item-product_price">
                                                        {{ $p->produk->harga }} x {{ $p->qty }} barang
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="my-auto">
                                                <div class="float-right font-size-20 font-weight-bold product__price py-5 text-orange">
                                                    {{ $p->subTotal_frm }}
                                                </div>
                                            </div>
                                        </div>
                                        @php
                                            $sub_total = 0;
                                            $sub_total += $p->sub_total;
                                        @endphp
                                        @endforeach
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 d-none d-md-block">
                                <div class="block block-shadow block-bordered block-rounded">
                                    <div class="block-header">
                                        <div class="font-size-20 font-weight-bold">Ringkasan Belanja</div>
                                    </div>
                                    <div class="block-content pt-0 cart-summary">
                                        <div class="d-flex justify-content-between">
                                            <div class="">Subtotal</div>
                                            <div class="">{{ currency_frm($total_belanja) }}</div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <div class="">Diskon</div>
                                            <div class="">-Rp50000</div>
                                        </div>
                                        <hr class="border-2x">
                                        <div class="d-flex font-size-20 font-weight-bold justify-content-between mb-2">
                                            <div class="">Total Belanja</div>
                                            <div class="total_belanja">Rp0</div>
                                        </div>
                                    </div>
                                    <div class="block-content pt-0 ">
                                        <div class="font-size-20 font-weight-bold">Metode Pembayaran</div>
                                        <button class="btn btn-outline-primary btn-block btn-lg" type="submit" id="btn-bayar">
                                            Pilih Pembayaran
                                        </button>
                                    </div>
                                    <div class="block-content block-content-full pt-0">
                                        <button class="btn btn-primary btn-block btn-lg" type="submit" id="btn-bayar">
                                            Bayar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </main>
            <!-- END Main Container -->

            <footer id="page-footer" class="border-top border-3x border-primary">
                <div class="content content-full">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <img src="../../public/img/logo/logo.png" class="img-fluid">
                            <p>
                               Diagem Jewerly is
                            </p>
                            <a class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-circle btn-secondary"><i class="fab fa-facebook"></i></a>
                            <a class="btn btn-circle btn-secondary"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="col-lg-4">
                            <ul class="fa-ul font-w700">
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>How To Order
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Terms & Condition
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>FAQs
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Ring Size Guide
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="fa-ul font-w700">
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Track Shipment
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Payment Confirmation
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Help
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Career
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            
            <div class="modal fade" id="loginModal" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content rounded">
                            <div class="modal-header border-bottom-0 pb-0">
                                <div class="div">
                                    <h5 class="modal-title">Selamat datang kembali! Silahkan login.</h5>
                                    <p>Belum punya akun? <a href="/">Daftar</a> disini!</p>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body pt-0">
                            <form id="loginModalFrm" onsubmit="return false">
                                <div class="form-group">
                                    <label class="form-label" for="field-email">Alamat Email
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="email" id="field-email"
                                        placeholder="Masukan Alamat Email">
                                    <div class="invalid-feedback" id="error-email"></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="field-password"> Password</label>
                                    
                                    <div class="input-group" id="show_hide_password">
                                        <input type="password" class="form-control" name="password" id="field-password" placeholder="Masukan Password" autocomplete="on">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <a href="javaScript:void(0);">
                                                    <i class="fa fa-eye-slash"></i>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback font-size-sm" id="error-password"></div>
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <div class="col-sm-6 d-sm-flex align-items-center">
                                        <div class="custom-control custom-checkbox mr-auto ml-0 mb-0">
                                            <input type="checkbox" class="custom-control-input" id="login-remember-me" name="remember">
                                            <label class="custom-control-label" for="login-remember-me">Ingat Saya</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-sm-right">
                                        <a class="font-weight-bold" href="#">
                                            Lupa Password?
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block font-weight-bold" disabled>
                                        <i class="fa fa-signin"></i>
                                        Masuk
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- alamat form -->
            <div class="modal fade" id="modalAlamat" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-rounded modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form id="form-alamat" onsubmit="return false">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title">Tambah Alamat Baru</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="id" id="field-id" value="">
                                <input type="hidden" name="user_id" id="field-user_id" value="">
                                <div class="form-group">
                                    <label class="form-label" for="field-nama">Nama Alamat
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="nama" id="field-nama"
                                        placeholder="Contoh : Rumah, Kantor">
                                    <div class="invalid-feedback" id="error-nama"></div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label" for="field-penerima">Nama Penerima
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="penerima" id="field-penerima"
                                                placeholder="Masukan Nama Lengkap">
                                            <div class="invalid-feedback" id="error-penerima"></div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label" for="field-phone">No. Ponsel
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" class="form-control input_number" name="phone" id="field-phone"
                                                placeholder="Masukan No. Handphone">
                                            <div class="invalid-feedback" id="error-phone"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <div class="form-group">
                                            <label class="form-label" for="field-desa">Kota/Kecamatan
                                                <span class="text-danger">*</span>
                                            </label>
                                            <select class="form-control" name="kelurahan_id" id="field-desa" style="width:100%"></select>
                                            <div class="invalid-feedback" id="error-desa"></div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="form-label" for="field-pos">Kode POS
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" class="form-control" name="pos" id="field-pos"
                                                placeholder="Kode POS">
                                            <div class="invalid-feedback" id="error-pos"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <label class="form-label" for="field-alamat">Alamat Lengkap
                                        <span class="text-danger">*</span>
                                    </label>
                                    <textarea name="alamat" id="field-alamat" class="form-control" cols="30" rows="4" placeholder="Contoh : Jl. Terusan Lama No.152 RT 01 RW 02 ...."></textarea>
                                    <div class="invalid-feedback" id="error-alamat"></div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-outline-secondary px-6" data-dismiss="modal">Batal</button>
                                <button type="submit" class="btn btn-primary px-6">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>            
            <!-- end alamat form -->

            <!-- alamat pengiriman form -->
            <div class="modal fade" id="alamatPilih" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <h5 class="modal-title">Pilih Alamat Pengiriman</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    <i class="fa fa-times-circle"></i>
                                </span>
                            </button>
                        </div>
                        <div class="modal-body pt-0">
                            <div class="row gutters-5" id="pilihAlamat">
            
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <!-- end alamat pengiriman form -->
        </div>
        <script src="../../public/js/laravel.app.js"></script>
        <script src="../../public/js/laroute.js"></script>
        <script src="../../public/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="../../public/js/umum/general.js"></script>
        <script src="../../public/js/functions.js"></script>
        <script src="../../public/js/plugins/select2/js/select2.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js" integrity="sha512-bE0ncA3DKWmKaF3w5hQjCq7ErHFiPdH2IGjXRyXXZSOokbimtUuufhgeDPeQPs51AI4XsqDZUK7qvrPZ5xboZg==" crossorigin="anonymous"></script>
        <script src="../../public/js/umum/checkout.js"></script>
        <!-- <script>
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
        </script> -->
    </body>
</html>

