<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <title>Diagem Project</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Diagem Project">
        <meta name="author" content="Diagem Project">
        <meta name="robots" content="noindex, nofollow">
        
        <!-- Open Graph Meta -->
        <meta property="og:title" content="Diagem Project">
        <meta property="og:site_name" content="Diagem Project">
        <meta property="og:description" content="Diagem Project">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        
        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="../public/img/favicons/favicon.png">
        <link rel="icon" type="image/png" sizes="192x192" href="../public/img/favicons/favicon-192x192.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../public/img/favicons/apple-touch-icon-180x180.png">
        
        <!-- Fonts and Codebase framework -->
        <link rel="stylesheet" id="css-main" href="../../public/css/app.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap">
        <style>
            .as-dropdown > .btn {
                height: 44px;
                padding: 12px;
                background: #fff;
                border: 1px solid #c0c7d1;
                border-radius: 4px;
            }
        
            .dropdown-item > span.text > {
                font-size: 1rem;
                font-weight: bold;
            }
        
            .as-dropdown .dropdown-menu li a span.text > img {
                border: 1px solid #c0c7d1;
                border-radius: 4px;
                overflow: hidden;
                width: 64px;
                height: 32px;
                margin-right: 12px;
            }
        
            .as-dropdown .btn:focus {
                outline: none !important;
            }
        
            .as-dropdown .dropdown-menu li a span.text {
                display: inline-block;
                font-weight: bold;
                font-size: 1rem;
            }
        
            .as-dropdown .dropdown-toggle .filter-option-inner-inner{
                overflow: hidden;
                font-weight: bold;
                font-size: 1rem;
            }
        
            .as-dropdown .dropdown-toggle .filter-option-inner-inner > img{
                overflow: hidden;
                border: 1px solid #c0c7d1;
                border-radius: 4px;
                overflow: hidden;
                width: 64px;
                height: 32px;
                margin-right: 12px;
            }
        
            .as-dropdown .dropdown-menu li:hover {
                background: #eaeaea;
            }
            .filter-option {
                position: relative;
                z-index: 2;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 44px;
                padding: 12px;
            }
        </style>
    </head>
    <body class="bg-white">
        <div id="page-container" class="sidebar-inverse side-scroll page-header-fixed main-content-boxed">
            <!-- Header -->
            <header id="page-header">
                <!-- Header Content -->
                <div class="content-header height-75 py-0">
                    <!-- Left Section -->
                    <div class="content-header-section">
                        <!-- Logo -->
                        <div class="content-header-item height-50">
                            <a href="/">
                                <img src="../../public/img/logo/logo.png" class="img-fluid h-100" />
                            </a>
                        </div>
                        <!-- END Logo -->
                    </div>
                    <!-- END Left Section -->
            
                    <!-- Middle Section -->
                    
                    <!-- END Middle Section -->
            
                    <!-- Right Section -->
                    <div class="content-header-section d-flex">
                        <ul class="nav-main-header">
                            <li class="">
                                <a class="nav-submenu" data-toggle="nav-submenu" href="#">Who We Are</a>
                                <ul>
                                    <li>
                                        <a href="#">The Brand</a>
                                    </li>
                                    <li>
                                        <a href="#">Magazine</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                </ul>
                            </li>
        
                            <li>
                                <a href="#">Products</a>
                            </li>
        
                            <li>
                                <a href="#">Blog</a>
                            </li>
                        </ul>
                        
                        <!-- Cart Header Section -->
                        <div class="btn-cart d-none d-lg-block" role="group">
                            <button type="button" class="btn btn-sm cart" id="header-cart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="si si-bag cart-icon"></i>
                                <span class="cart-notification">
                                    0
                                </span>
                            </button>
                            <div class="dropdown-menu cart-overlay dropdown-menu-right" aria-labelledby="header-cart">
                                <div class="cart-header">
                                    <div class="font-weight-bold">Keranjang
                                        (<span class="cart-count">0</span>)
                                    </div>
                                    <div class="text-right">
                                        <a href="" class="text-decoration-none">Lihat Semua</a>
                                    </div>
                                </div>
                                <div class="cart-content"></div>
                            </div>
                        </div>
                        <!-- END Cart Header Section -->
                        
                        <!-- Auth Section -->
                        <div class="float-right">
                            <button type="button" class="btn btn-outline-primary mx-1 btn-sm btn-login">Login</button>
                            <a href="/" class="btn btn-primary mx-1 btn-sm">Daftar</a>
                        </div>
                        <!-- END Auth Section -->
            
                        <!-- Toggle Sidebar -->
                        <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                        <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none" data-toggle="layout" data-action="sidebar_toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- END Toggle Sidebar -->
                    </div>
                    <!-- END Right Section -->
                </div>
                <!-- END Header Content -->
            
                <!-- Header Search -->
                <div id="page-header-search" class="overlay-header">
                    <div class="content-header content-header-fullrow">
                        <form action="bd_search.html" method="post">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <!-- Close Search Section -->
                                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                                    <button type="button" class="btn btn-secondary px-15" data-toggle="layout" data-action="header_search_off">
                                        <i class="fa fa-times"></i>
                                    </button>
                                    <!-- END Close Search Section -->
                                </div>
                                <input type="text" class="form-control" placeholder="Search or hit ESC.." id="page-header-search-input" name="page-header-search-input">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary px-15">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END Header Search -->
            
                <!-- Header Loader -->
                <!-- Please check out the Activity page under Elements category to see examples of showing/hiding it -->
                <div id="page-header-loader" class="overlay-header bg-primary">
                    <div class="content-header content-header-fullrow text-center">
                        <div class="content-header-item">
                            <i class="fa fa-sun-o fa-spin text-white"></i>
                        </div>
                    </div>
                </div>
                <!-- END Header Loader -->
            </header>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <main id="content" role="main">
                    <!-- End breadcrumb -->
                    <div class="container max-width-1130">
                        <form id="checkout" onsubmit="return false;">
                            @csrf
                            <div class="row my-4 my-xl-10">
                                <div class="col-md-8 col-sm-12">
                                    <h4 class="hide">Bayar Pesanan</h4>
                                    <section>
                                        <div class="card shadow border mb-3">
                                            <div class="card-header">
                                                <span class="font-size-20 font-weight-bold">
                                                    <i class="fa fa-wallet mr-1"></i>Pilih Metode Pembayaran
                                                </span>
                                            </div>
                                            <div class="card-body px-0 pb-0">
                
                                                <!-- Payment Transfer -->
                                                <div class="as-payment-cat px-3 border-bottom border-width-3">
                                                    <label for="transfer" class="as-payment-cat__label">
                                                        <div class="d-flex">
                                                            <div class="d-flex">
                                                                <label class="align-items-center as-radio-button as-radio-button">
                                                                    <input type="radio" name="payment_method" id="transfer" class="as-radio-button__input" value="transfer" checked="checked">
                                                                    <span class="as-radio-button__check"></span>
                                                                </label>
                                                            </div>
                                                            <div class="ml-3" style="width: 100%;">
                                                                <p class="mb-0 font-size-18 font-weight-semi-bold">
                                                                    Bank Transfer
                                                                </p>
                                                                <div class="bl-logos" data-test-logos="">
                                                                    <div class="d-flex bl-logos__container flex-wrap">
                                                                        <div class="d-flex as-payment-method">
                                                                            <div class="as-logo-payment border border-gray-15">
                                                                                <img src="{{ asset('public/img/payment/bca.png') }}" alt="bank_bca" class="as-logo-payment__img">
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex as-payment-method">
                                                                            <div class="as-logo-payment border border-gray-15">
                                                                                <img src="{{ asset('public/img/payment/bni.png') }}" alt="bank_bni" class="as-logo-payment__img">
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex as-payment-method">
                                                                            <div class="as-logo-payment border border-gray-15">
                                                                                <img src="{{ asset('public/img/payment/mandiri.png') }}" alt="briva" class="as-logo-payment__img">
                                                                            </div>
                                                                        </div>
                                                                        <div class="d-flex as-payment-method">
                                                                            <div class="as-logo-payment border border-gray-15">
                                                                                <img src="{{ asset('public/img/payment/permata.png') }}" alt="bank_mandiri" class="as-logo-payment__img">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!---->
                                                                <div class="form-group">
                                                                    <label class="font-size-18 font-weight-semi-bold text-gray-111" for="virtual_accout_select">Penyedia Layanan</label>
                                                                    <select class="selectpicker dropdown-select as-dropdown form-control" name="transfer_bank" title="Pilih Bank Penyedia">
                                                                        @foreach($bank_tf as $bank)
                                                                        <option data-content="<img src='{{ $bank->icon_url }}'>{{ $bank->bank }}" value="{{ $bank->id }}"></option>
                                                                        @endforeach
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </label>
                                                </div>
                                                <!-- END Payment Transfer -->
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-md-4 d-none d-md-block">
                                    <div class="card shadow border">
                                        <div class="border-bottom border-width-3 card-body">
                                            <button type="button" class="btn btn-block btn-lg btn-outline-dark">
                                                <i class="fa fa-ticket mr-1"></i>  Gunakan Voucher
                                            </button>
                                        </div>
                                        <div class="card-body">
                                            <div class="font-size-20 font-weight-bold total_title mb-3">Rincian Harga</div>
                                            <div class="font-size-18 mb-1">
                                                <span>Total Belanja</span>
                                                <span class="text-black float-right total_belanja">{{ currency_frm($data['sub_total']) }}</span>
                                            </div>
                                            <div class="font-size-18 mb-1">
                                                <span>Ongkos Kirim</span>
                                                <span class="text-black float-right total_belanja">{{ currency_frm($data['ongkir']) }}</span>
                                            </div>
                                            <div class="font-size-18 my-3">
                                                <span class="font-size-20 font-weight-bold">Total Pembayaran</span>
                                                <span class="font-size-20 font-weight-bold float-right total_belanja">{{ currency_frm($data['final_total']) }}</span>
                                            </div>
                                            <button class="btn btn-primary btn-block btn-lg" type="submit" id="btn-bayar">
                                                Bayar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </main>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <footer id="page-footer" class="border-top border-3x border-primary">
                <div class="content content-full">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <img src="../../public/img/logo/logo.png" class="img-fluid">
                            <p>
                               Diagem Jewerly is
                            </p>
                            <a class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-circle btn-secondary"><i class="fab fa-facebook"></i></a>
                            <a class="btn btn-circle btn-secondary"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="col-lg-4">
                            <ul class="fa-ul font-w700">
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>How To Order
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Terms & Condition
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>FAQs
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Ring Size Guide
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="fa-ul font-w700">
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Track Shipment
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Payment Confirmation
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Help
                                    </a>
                                </li>
                                <li class="py-10">
                                    <a href="" class="text-black">
                                        <i class="fa fa-chevron-right fa-li mb-3"></i>Career
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            
            <div class="modal fade" id="loginModal" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content rounded">
                            <div class="modal-header border-bottom-0 pb-0">
                                <div class="div">
                                    <h5 class="modal-title">Selamat datang kembali! Silahkan login.</h5>
                                    <p>Belum punya akun? <a href="/">Daftar</a> disini!</p>
                                </div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body pt-0">
                            <form id="loginModalFrm" onsubmit="return false">
                                <div class="form-group">
                                    <label class="form-label" for="field-email">Alamat Email
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control" name="email" id="field-email"
                                        placeholder="Masukan Alamat Email">
                                    <div class="invalid-feedback" id="error-email"></div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="field-password"> Password</label>
                                    
                                    <div class="input-group" id="show_hide_password">
                                        <input type="password" class="form-control" name="password" id="field-password" placeholder="Masukan Password" autocomplete="on">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <a href="javaScript:void(0);">
                                                    <i class="fa fa-eye-slash"></i>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="invalid-feedback font-size-sm" id="error-password"></div>
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <div class="col-sm-6 d-sm-flex align-items-center">
                                        <div class="custom-control custom-checkbox mr-auto ml-0 mb-0">
                                            <input type="checkbox" class="custom-control-input" id="login-remember-me" name="remember">
                                            <label class="custom-control-label" for="login-remember-me">Ingat Saya</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-sm-right">
                                        <a class="font-weight-bold" href="#">
                                            Lupa Password?
                                        </a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block font-weight-bold" disabled>
                                        <i class="fa fa-signin"></i>
                                        Masuk
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../public/js/laravel.app.js"></script>
        <script src="../../public/js/laroute.js"></script>
        <script src="../../public/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="../../public/js/umum/general.js"></script>
        <script src="../../public/js/functions.js"></script>
        <script src="../../public/js/umum/pembayaran.js"></script>
        <!-- <script>
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
        </script> -->
    </body>
</html>
