<!doctype html>
<html lang="en" class="no-focus">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        <title>Admin | Tokonya</title>

        <meta name="description" content="Tokonya">
        <meta name="author" content="Tokonya">
        <meta name="robots" content="noindex, nofollow">

        <!-- Open Graph Meta -->
        <meta property="og:title" content="Tokonya">
        <meta property="og:site_name" content="Tokonya">
        <meta property="og:description" content="Tokonya">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="/js/plugins/datatables/dataTables.bootstrap4.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">

        <!-- Fonts, Styles and Codebase framework -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
        <link rel="stylesheet" id="css-main" href="/css/app.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.10/themes/default/style.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.css">
    </head>
    <body>
        <div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header main-content-boxed">
            <!-- Sidebar -->
            {{template "partials/admin-sidebar" .}}
            <!-- END Sidebar -->

            <!-- Header -->
            {{template "partials/admin-header" .}}
            <!-- END Header -->
            
            <!-- Main Container -->
            <main id="main-container">

                <!-- Page Content -->
                <div class="content">
                    <div class="content-heading pt-0 mb-3">
                        Kategori Produk
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="block">
                                <div class="block-content pb-15">
                                    <button class="btn btn-primary btn-block add-root-category">Tambah Kategori Induk</button>
                                    <button class="btn btn-primary btn-block add-sub-category disabled">Tambah Sub Kategori</button>
                                    <div class="mt-10 mb-10">
                                        <a href="#" class="collapse-all">Collapse All</a> |
                                        <a href="#" class="expand-all">Expand All</a>
                                    </div>
                                    <div id="kategori-tree"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <form id="form-kategori" onsubmit="return false">
                                <input type="hidden" id="metode" value="tambah"/>
                                <input type="hidden" id="nama_kategori" value=""/>
                                <input type="hidden" id="field-kategori_id" name="kategori_id" value=""/>
                                <input type="hidden" id="field-parent_id" name="parent_id" value=""/>
                                <div class="block">
                                    <div class="block-header block-header-default">
                                        <h3 class="block-title" id="form-title">Tambah kategori</h3>
                                        <button type="button" class="btn btn-danger float-right mr-5 hide" id="hapus-kategori">
                                            <i class="si si-trash mr-1"></i>
                                            Hapus
                                        </button>
                                        <button type="submit" class="btn btn-primary float-right">
                                            <i class="si si-paper-plane mr-1"></i>
                                            Simpan
                                        </button>
                                    </div>
                                    <div class="block-content">
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label" for="field-nama">Nama</label>
                                            <div class="col-lg-7">
                                                <input type="text" class="form-control" id="field-nama" name="nama" placeholder="Masukan Nama Kategori..">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label" for="field-nama">Thumbnail</label>
                                            <div class="col-lg-7">
                                                <div class="col-6 pl-0">
                                                    <img id="thumbPrev" class="border border-2x border-primary img-fluid mb-2" src="/img/placeholder/product.png"/>
                                                    <input type="hidden" name="thumbnail" value="">
                                                    <div class="btn btn-primary btn-block">
                                                        <input type="file" class="file-upload" id="uploadThumb" accept="image/*">
                                                        <i class="si si-camera mr-1"></i>Pilih Foto
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-3 col-form-label" for="field-nama">Sampul</label>
                                            <div class="col-lg-7">
                                                <img id="sampulPrev" class="border border-2x border-primary img-fluid mb-2" src="/img/poster.png"/>
                                                <input type="hidden" name="sampul" value="">
                                                <div class="btn btn-primary btn-block">
                                                    <input type="file" class="file-upload" id="uploadSampul" accept="image/*">
                                                    <i class="si si-camera mr-1"></i>Pilih Foto
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="modal" id="cropModal">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="block-header block-header-default">
                                    <h3 class="block-title modal-title">Potong & Sesuaikan Icon</h3>
                                <div class="block-options">
                                    <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                        <i class="si si-close"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="block-content pb-15">
                                <div id="resizer"></div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <button class="btn btn-alt-primary rotate btn-block text-center" data-deg="90">
                                            <i class="fa fa-undo"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-alt-primary rotate btn-block text-center" data-deg="-90" >
                                        <i class="fa fa-redo"></i></button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-alt-primary btn-block" id="upload">Potong Dan Simpan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Page Content -->

            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            {{template "partials/admin-footer" .}}
            <!-- END Footer -->
        </div>
        <script src="/js/laravel.app.js"></script>
        <script src="/js/laroute.js"></script>
        <script src="/js/plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="/js/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/js/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
        <script src="/js/common.js"></script>
        <script src="/js/functions.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.2/croppie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.10/jstree.min.js"></script>
        <script src="/js/admin/produk/kategori.js"></script>
        <script src="/js/admin/general.js"></script>
        <script>
            $('.dataTables_filter input[type="search"]').
            attr('placeholder','Search in this blog ....').
            css({'width':'500px','display':'inline-block'});
            $.extend( true, $.fn.dataTable.defaults, {
                "responsive": true,
                "pageLength": 20,
                "lengthChange": false,
                "language": {
                    'loadingRecords': '&nbsp;',
                    "sEmptyTable":	 "Tidak ada data yang tersedia pada tabel ini",
                    "sProcessing":   '<div class="spinner-grow text-primary pt-25" role="status"><span class="sr-only">Loading...</span></div>',
                    "sLengthMenu":   "Tampilkan _MENU_",
                    "sZeroRecords":  "Tidak ditemukan data yang sesuai",
                    "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
                    "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
                    "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
                    "sInfoPostFix":  "",
                    "sSearch":       "Cari:",
                    "sUrl":          "",
                    "oPaginate": {
                        "sFirst":    "Pertama",
                        "sPrevious": "Sebelumnya",
                        "sNext":     "Selanjutnya",
                        "sLast":     "Terakhir"
                    }
                },
            });
        </script>
    </body>
</html>
